<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- Add your EJS code here -->
  <header>
    <% include ./partials/_header%>
  </header>

  <h1> TEST 2</h1>

  Short URL is  <%= shortURL %> and long URL is <%= longURL %>

</body>
</html>